*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
p, label {
    font-family: 'Open Sans', sans-serif;
}

/* ANIMAÇÕES */

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes lineDown {
    0% {
        transform: scale(1, 0);
        transform-origin: top center;
    }

    25% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    75% {
        transform: scale(1, 1);
        transform-origin: top center;
    }

    76% {
        transform: scale(1, 1);
        transform-origin: bottom center;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: bottom center;
    }
}

@keyframes arrowDown{
    0% {
        bottom: 25px;
    }

    30% {
        bottom: 15px;
        opacity: 1;
    }

    70% {
        bottom: 10px;
        opacity: 1;
    }

    100% {
        bottom: 5px;
        opacity: 0;
    }
}


@media screen and (min-width: 320px) {

    .jl-page-wrapper, .jl-preloader {
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }

    .jl-preloader {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .jl-preloader-inner {
        margin-top: -45px;
    }

    .jl-overlay {
        width: 100%;
        height: 100vh;
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(44, 203, 105, 0.95);
    }

    .jl-modal {
        width: 800px;
        display: table;
        padding: 30px;
        border-radius: 0 30px 30px 0;
        position: fixed;
        top: 15%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1200;
    }

    .jl-modal-header, .jl-modal-body, .jl-form {
        width: 100%;
        display: table;
        position: relative;
    }

    .jl-close-modal {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #2CCB69;
        text-align: center;
        line-height: center;
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -15px;
        border: none;
        background-color: #2f2f2f;
    }

    .jl-form label {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .jl-field, .jl-textarea {
        width: 100%;
        border-radius: 4px;
        background-color: #2f2f2f;
        color: #fff;
        border: none;
        font-size: 16px;
        text-indent: 15px; /*paragráfo para a 1° linha de texto do form*/
    }

    .jl-field {
        height: 45px;
    }

    .jl-topbar {
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }

    .jl-logo {
        width: 74px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color: #2CCB69;
        border-radius: 0 0 37px 0;
    }

    .jl-logo img {
        width: 46px;
        height: 31px;
        display: block;
        margin: 55px auto 0;  
    }

    .jl-menu {
        display: none;
    }

    .jl-btn-contact {
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2CCB69;
        background-image: url("../imagens/icon-contact-close.svg");
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
    }

    .jl-contact-info {
        width: 245px;
        height: 165px;
        padding: 25px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
    }

    .jl-contact-info-inner {
        display: table;
        width: 100%;
        float: right;
    }

    .jl-contact-info-inner p {
        font-size: 18px;
        line-height: 24px;
    }

    .jl-social-links {
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: -12px;
        margin-top: 7px;
    }

    .jl-social {
        width: 45px;
        height: 45px;
        display: inline-block;
    }

    .jl-social > img {
        width: 20px;
        height: auto;
        display: block;
        margin: 13px auto 0;
    }

    .jl-corner {
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;

    }

    .jl-corner:after {
        content: '';
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -23px;
        right: -1px;
        background: transparent url("../imagens/corner.svg") no-repeat;
    }

/**********HOME***********/

    .jl-display-text {
        margin-top: 10%;
    }

    .jl-tittle-big {
        font-size: 120px;
    }

    #jl-home-presentation {
        background-image: url('../imagens/joao-lemon-designer-home.png');
        background-repeat: no-repeat;
        background-position: 50% bottom;
        position: relative;
    }

    .jl-scroll-down {
        width: 70px;
        height: 105px;
        border-radius: 35px 35px 0 0;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
    }

    .jl-arrow-down {
        width: 100%;
        height: 75px;
        display: table;
        margin-top: 30px;
        position: relative;
    }

    .jl-arrow-down img {
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        animation: arrowDown 1.2s linear 1.2s infinite;
    }

    .jl-arrow-down:before {
        content: '';
        width: 2px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #000;
        animation: lineDown 1.2s ease-in-out infinite;
        transform-origin: top center;
    }

}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    .jl-menu {
        height: 110px;
        display: table;
        float: left;
        margin-left: 30px;
    }

    .jl-menu a {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        color: #BCBCBC;
        text-decoration: none;
        text-transform: lowercase; /* deixar as letras todas em minusculas */
        display: inline-block;
        margin: 50px 20px 0 20px;
        position: relative;
    }

    .jl-menu a:first-child {
        margin-left: 0;
    }

    .jl-menu a:hover {
        color: #2CCB69;
    }

    .jl-menu a:before {
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2CCB69;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;
        border-radius: 1px;
        transform: scale(0, 1);
        transform-origin: center left;
    }

    .jl-menu a:hover:before {
        transform: scale(1, 1)
    }

}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1364px) {
    
}

@media screen and (min-width: 1600px) {
   
}

/* CLASSES UTILITÁRIAS - adicionadas dentro do html */ 

.jl-title {
    font-family: 'Abril Fatface', serif;
    font-weight: 400;
}

.jl-text-green {
    color: #2CCB69;
}

.jl-text-dark {
    color: #4D4C4C;
}

.jl-text-light {
    color: #BCBCBC;
}

.jl-text-black {
    color: #000;
}

/* BACKGROUND */

.jl-bg-green {
    background-color: #2CCB69;
}

.jl-bg-dark {
    background-color: #4D4C4C;
}

.jl-bg-light {
    background-color: #BCBCBC;
}

.jl-bg-black {
    background-color: #000;
}

/* MARGIN */

.jl-mar-15 {
    margin: 15px;
}

.jl-mar-top-15 {
    margin-top: 15px;
}

.jl-mar-right-15 {
    margin-right: 15px;
}

.jl-mar-bottom-15 {
    margin-bottom: 15px;
}

.jl-mar-left-15 {
    margin-left: 15px;
}

/* PADDING */

.jl-pad-15 {
    padding: 15px;
}

.jl-pad-top-15 {
    padding-top: 15px;
}

.jl-pad-right-15 {
    padding-right: 15px;
}

.jl-pad-bottom-15 {
    padding-bottom: 15px;
}

.jl-pad-left-15 {
    padding-left: 15px;
}

/* fULL HEIGHT */

.jl-full-height {
    height: 100vh;
}

.jl-first-section {
    height: calc(100vh - 30px);
}

/* BOTÕES */

.jl-btn {
    display: table;
    border: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition:  all 0.2s ease-out;
    text-transform: lowercase;
}

.jl-btn-block {
    display: block;
    width: 100%;
} 

.jl-btn-medium {
    height: 38px;
    padding: 0 27px;
    border-radius: 19px;
    font-size: 14px;
}

.jl-btn-large {
    height: 45px;
    padding: 0 35px;
    border-radius: 23px;
    font-size: 16px;
}

.jl-btn-green {
    background-color: #2CCB69;
    color:#000;
}

.jl-btn-green:hover {
    background-color: rgba(6, 135, 55);
    color:#fff;
}

.jl-btn-dark {
    background-color: #151515;
    color:#2CCB69;
}

.jl-btn-dark:hover {
    background-color: #2f2f2f;
    color: #fff;
}

/* CLASSES COMPORTAMENTOS */

.jl-is-open {
    display: block;
}

.jl-change-icon {
    background-position-y: -45px;
}

.jl-fade-out {
    animation: fadeOut 2s forwards ease-out;
}
